In [2]:
import json
import requests
import pandas as pd
from pandas import json_normalize
import mysql.connector
from mysql.connector.constants import ClientFlag

# Gathering two sources of data for the project
## World Health Organization API :
- https://www.who.int/data/gho/info/gho-odata-api
- It uses Open Data Protocol :
https://www.odata.org/documentation/odata-version-2-0/uri-conventions/

## Kaggle datasets :
https://www.kaggle.com/imdevskp/malaria-dataset
We will use estimated_numbers.csv

In [5]:
# Getting medical doctors per 10k by requesting send two requests on the API :

#HWF_0001 is the indicator code for medical doctors per 10000, we then filter by date in 2017
medical_doctors_per_10k = requests.get('https://ghoapi.azureedge.net/api/HWF_0001?$filter=date(TimeDimensionBegin) ge 2017-01-01 and date(TimeDimensionBegin) lt 2018-01-01').json()
doctors_df = pd.DataFrame(medical_doctors_per_10k['value'])[['SpatialDim','NumericValue']]
print(doctors_df.head(2))

#Second request to link Country Code of the first request with the Country Name.
country_list_code = requests.get('https://ghoapi.azureedge.net/api/DIMENSION/COUNTRY/DimensionValues').json()
country_df = pd.DataFrame(country_list_code['value'])
print(country_df.head(2))

  SpatialDim  NumericValue
0        AGO         2.146
1        ARE        24.356
  Code    Title Dimension ParentDimension ParentCode ParentTitle
0  AGO   Angola   COUNTRY          REGION        AFR      Africa
1  BDI  Burundi   COUNTRY          REGION        AFR      Africa

In [6]:
# Getting malaria data in the world in 2017
malaria_estimated_numbers = pd.read_csv('./estimated_numbers.csv')
malaria_estimated_numbers_2017 = malaria_estimated_numbers[malaria_estimated_numbers['Year'].between(2017, 2017)]
malaria_estimated_numbers_2017.head(2)

,Country,Year,No. of cases,No. of deaths,No. of cases_median,No. of cases_min,No. of cases_max,No. of deaths_median,No. of deaths_min,No. of deaths_max,WHO Region
0,Afghanistan,2017,630308[495000-801000],298[110-510],630308,495000.0,801000.0,298,110.0,510.0,Eastern Mediterranean
1,Algeria,2017,0,0,0,NaN,NaN,0,NaN,NaN,Africa

In [8]:
# Merge the first and second dataframe on the API and prepare clean data
merged_gho_df = country_df.merge(doctors_df, left_on='Code', right_on='SpatialDim')[['Title','ParentTitle','NumericValue']]
merged_gho_df.columns = ['Country', 'Continent','Doctors_per_10k']
merged_gho_df.head(2)

   Country Continent  Doctors_per_10k
0   Angola    Africa            2.146
1  Burundi    Africa            1.001

In [ ]:
# This part is not used, we want to put the two tables on SQL, it is an alternative for dataframe merges
"""
gho_plus_malaria_df = merged_gho_df.merge(malaria_estimated_numbers_2017, left_on='Country', right_on='Country')[['Country','Continent','Doctors_per_10k','Year','No. of cases_median','No. of deaths_median']]
gho_plus_malaria_df.columns = ['Country','Continent','Doctors/10k','Year','No of sick People', 'No of dead people']
gho_plus_malaria_df.sort_values(by=['No of dead people'], ascending=False).head(10)
"""

# Send data on SQL database
- To host the data I chose to work on [SQL Cloud](https://cloud.google.com/)
- I followed a tutorial from [Towards Data Science](https://towardsdatascience.com/sql-on-the-cloud-with-python-c08a30807661)
- The tutorial is saved as a PDF on the repository :
SQL on The Cloud With Google Cloud and Python | Towards Data Science.pdf

In [ ]:
# Initialize SQL connexion by reading IP host, user password and ssl parameters from files 
pwd = open("../SQL Token/SQL_pwd", "r")
host = open("../SQL Token/SQL_host", "r")
config = {
    'user': 'Mathieu',
    'password' : pwd.read().strip(),
    'host' : host.read().strip(),
    'client_flags' : [ClientFlag.SSL],
    'ssl_ca': '../SQL Token/server-ca.pem',
    'ssl_cert': '../SQL Token/client-cert.pem',
    'ssl_key': '../SQL Token/client-key.pem'
}
# establish connection
cnxn = mysql.connector.connect(**config)

# create a database malaria
cursor = cnxn.cursor() # initialize connection cursor
cursor.execute('CREATE DATABASE malaria')
cnxn.close()

In [ ]:
# We now have a database named "malaria"
# We can connect to malaria by adding it to config dictionnary
# then create the first table "doctors_world"

config['database'] = 'malaria'
cnxn = mysql.connector.connect(**config)
cursor = cnxn.cursor()
cursor.execute('CREATE TABLE doctors_world ('
                 'Country VARCHAR(255),'
                 'Continent VARCHAR(255),'
                 'Doctors_per_10k FLOAT )')

cnxn.commit() # commit changes to the DB

In [77]:
# before inserting data we need to cast it in the right format
# data contain initialy numpy records and executemany is expecting tuples
data_to_insert = [tuple(x) for x in list(merged_gho_df.to_records(index=False))] 

# setup the query
query = ("INSERT INTO doctors_world (Country, Continent, Doctors_per_10k) VALUES (%s, %s, %s)")
# execute with every row in dataframe
cursor.executemany(query,data_to_insert)
cnxn.commit()

In [84]:
# Create second table "malaria_count"
cursor.execute('CREATE TABLE malaria_count ('
                 'Country VARCHAR(255),'
                 'Year SMALLINT,'
                 'Cases BIGINT,'              
                 'Deaths BIGINT )')

cnxn.commit() # commit changes to the DB

In [118]:
# Select only interesting column for new dataframe and cast data as string
malaria_cleaned = malaria_estimated_numbers_2017[['Country','Year','No. of cases_median','No. of deaths_median']]
malaria_cleaned[['Year', 'No. of cases_median', 'No. of deaths_median']] = malaria_cleaned[['Year', 'No. of cases_median', 'No. of deaths_median']].astype(str)

# data contain initialy numpy records and executemany is expecting tuples
data_to_insert = [tuple(x) for x in list(malaria_cleaned.to_records(index=False))] 

# setup the query
query = ("INSERT INTO malaria_count (Country, Year, Cases, Deaths) VALUES (%s, %s, %s, %s)")

# execute with every row in dataframe
cursor.executemany(query,data_to_insert)
cnxn.commit()

/home/osboxes/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

# Next section is used to clean / drop the table

In [75]:
# WARNING - Used to delete or clean the table - BEWARE

#cursor.execute('DROP TABLE doctors_world')
#cnxn.commit() # commit changes to the DB

#cursor.execute('TRUNCATE TABLE doctors_world')
#cnxn.commit()

#cursor.execute('TRUNCATE TABLE malaria_count')
#cnxn.commit()

# Check if data is correctly inserted in both tables

In [12]:
cursor.execute("SELECT * FROM malaria_count LIMIT 2")
out = cursor.fetchall()
for row in out:
    print(row)

('Afghanistan', 2017, 630308, 298)
('Algeria', 2017, 0, 0)

In [13]:
cursor.execute("SELECT * FROM doctors_world LIMIT 2")
out = cursor.fetchall()
for row in out:
    print(row)

('Angola', 'Africa', 2.146)
('Burundi', 'Africa', 1.001)

# Get and merge date from SQL

In [129]:
# Get Table names to prepare groupby
cursor.execute("""SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = N'doctors_world'
""")
out = cursor.fetchall()
for row in out:
    print(row)

('def', 'malaria', 'doctors_world', 'Country', 1, None, 'YES', 'varchar', 255, 765, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(255)', '', '', 'select,insert,update,references', '', '')
('def', 'malaria', 'doctors_world', 'Continent', 2, None, 'YES', 'varchar', 255, 765, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(255)', '', '', 'select,insert,update,references', '', '')
('def', 'malaria', 'doctors_world', 'Doctors_per_10k', 3, None, 'YES', 'float', None, None, 12, None, None, None, None, 'float', '', '', 'select,insert,update,references', '', '')

In [7]:
# Get Data from both table with a JOIN
cursor.execute("""SELECT *
                    FROM doctors_world
                    INNER JOIN malaria_count
                    ON doctors_world.Country = malaria_count.Country""")
out = cursor.fetchall()

# Clean merged data to use them

In [40]:
merged_data = pd.DataFrame(out)
merged_data = merged_data.drop([3], axis=1)
merged_data.columns = ['Country', 'Continent','Doctors_per_10k','Year','Malaria Count','Malaria Deaths']
merged_data.head(2)

     Country Continent  Doctors_per_10k  Year  Malaria Count  Malaria Deaths
0     Angola    Africa            2.146  2017        4615605           13316
1  Argentina  Americas           39.901  2017              0               0

In [39]:
# Final dataframe showing link with doctors and sick people
total_malaria = merged_data.groupby(by=["Continent"], as_index=True)[["Malaria Count", "Malaria Deaths", "Doctors_per_10k"]].sum()
total_malaria['% Malaria Deaths'] = total_malaria['Malaria Deaths'] / total_malaria['Malaria Deaths'].sum() * 100
total_malaria['% Doctors'] = total_malaria['Doctors_per_10k'] / total_malaria['Doctors_per_10k'].sum() * 100
total_malaria

,Malaria Count,Malaria Deaths,Doctors_per_10k,% Malaria Deaths,% Doctors
Continent,,,,,
Africa,56421684,115187,40.040,82.182506,5.731668
Americas,846929,500,264.270,0.356735,37.829868
Eastern Mediterranean,2474427,4690,116.885,3.346176,16.731919
Europe,0,0,123.812,0.000000,17.723509
South-East Asia,11287365,19719,100.432,14.068921,14.376695
Western Pacific,36401,64,53.136,0.045662,7.606341